:root {
    --cor-principal: #ff7e5f;
    --cor-secundaria: #feb47b;
    --cor-destaque: #007BFF;
    --cor-texto: #333;
    --cor-fundo: #f9f9f9;
    --fonte-principal: 'Afacad Flux', sans-serif;
    --fonte-secundaria: Arial, sans-serif;
    --tamanho-base: 18px;
    --tamanho-titulo: 28px;
    --peso-fonte-titulo: bold;
    --peso-fonte-texto: normal;}

body {font-family: var(--fonte-principal);
    font-size: var(--tamanho-base);
    background: linear-gradient(to right, var(--cor-principal), var(--cor-secundaria));
    margin: 0;
    padding: 0;
    overflow-x: hidden;}

.card {
    background-color: var(--color-background);
    border-radius: var(--radius-md); 
    box-shadow: var(--shadow-lg);
    padding: var(--space-md);
    width: 300px;
    height: 400px;}

.card h2 {color: var(--color-primary);}

.card p {color: var(--color-text);}

header {background-color: var(--cor-principal);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;}

header h1 {color: white;
    font-size: 24px;}

#burguer {
    background-color: #f9f9f9;
    color: var(--cor-secundaria: #feb47b);
    text-align: center;
    padding: 10px;
    cursor: pointer;}

#burguer:hover {
 background-color: black;
    color: var(--cor-destaque);}
    
nav {display: none; }

nav ul {list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;}

nav ul li {display: inline-block;
    margin-right: 10px;}

nav ul li a {text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;}

nav ul li a:hover {color: var(--cor-destaque);
    background-color: #f2f2f2;
    border-color: var(--cor-destaque);}

.colecao-objetos {display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;}

.colecao-objetos .item-objeto {
    padding: 20px;
    background-color: #fff3e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.centralizado {width: 80%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;}

footer {font-size: 14px;
    background-color: var(--cor-fundo);
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #ddd;}

footer p {color: var(--cor-texto);}

.login-container {background-color: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;}

form button, .botao-intuitivo {background-color: var(--cor-principal);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--cor-principal);
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;}

form button:hover, .botao-intuitivo:hover {
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    transform: translateY(-5px);}

form button:active, .botao-intuitivo:active {
    background-color: #ff4500;
    transform: translateY(2px);}

table {width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border: 2px solid #ddd;}

th, td {padding: 12px;
    text-align: center;
    border: 1px solid #ddd;}

th {background-color: var(--cor-principal);
    color: white;}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #f1c40f;}

table a {color: var(--cor-destaque);
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid var(--cor-destaque);
    border-radius: 5px;
    transition: background-color 0.3s;}

table a:hover {background-color: var(--cor-destaque);
    color: white;}

article {padding: 20px;
    background-color: #fff3e0;
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

article p {font-size: 18px;
    line-height: 1.6;
    color: var(--cor-texto);
    margin-bottom: 20px;
    text-align: justify;}

section {margin-bottom: 40px;
    padding: 20px;}

h1 {font-size: var(--tamanho-titulo);
    font-weight: var(--peso-fonte-titulo);}

h2 {font-size: 24px;
    font-weight: var(--peso-fonte-titulo);}

p {font-size: var(--tamanho-base);
    line-height: 1.6;
    font-weight: var(--peso-fonte-texto);}

.img-fluid, .img-fluid-second {max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 8px;}

@media (max-width: 767px) {
    body {font-size: 16px;}

    header h1 {font-size: 20px;}

    nav ul {display: flex;
        flex-direction: column;
        align-items: center;}

    nav ul li {margin-bottom: 10px;
        display: block;}

    nav ul li a {font-size: 14px;
        padding: 10px;
        width: 100%;
        text-align: center;}

    .centralizado {width: 90%;
        padding: 10px;}

    .login-container {padding: 15px;
        margin-top: 10px;}

    form button {padding: 12px 25px;
        font-size: 16px;}

    table th, table td {padding: 8px;}

    table a {font-size: 14px;}

    article {padding: 15px;}

    h1 {font-size: 24px;}

    h2 {font-size: 20px;}

    p {font-size: 16px;}

    .img-fluid, .img-fluid-second {
        max-width: 100%;
        height: auto;}

    .botao-intuitivo {
        padding: 12px 25px;
        font-size: 16px;
        width: 100%;
        text-align: center;}

    footer {font-size: 12px;
        padding: 8px 0;}

    .colecao-objetos {grid-template-columns: 1fr;}}



