body {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 22px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);}

nav ul {list-style-type: none; padding: 0; margin: 0;}

nav ul li {display: inline-block; margin-right: 20px;}

nav ul li a {text-decoration: none; color: black; font-size: 18px;}

nav ul li a:hover {color: #007BFF;}

.centralizado {
    width: 50%;
    margin: 0 auto;
    padding: 20px;}

#Cadastro {font-size: 26px;}

main p {text-align: justify;}

table {width: 100%; border-collapse: collapse; margin-top: 30px;}

th, td {padding: 12px;
    text-align: center;
    border: 1px solid #ddd;}

th {background-color: #ff7e5f;
    color: white;}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #f1c40f;}

.tabela-container {border: 4px solid #ff7e5f;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff3e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;}

form {margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

form input[type="text"], form input[type="number"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;}

form select {width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;}

form button {background-color: #ff6f00;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;}

form button:hover {background-color: #feb47b;
    transform: translateY(-5px);}

form button:active {background-color: #ff4500;
    transform: translateY(2px);}

footer {font-size: 16px;}

footer .centralizado {text-align: center;}

section {margin-bottom: 40px;
    padding: 20px;}

h1 {font-size: 28px;
    font-weight: bold;}

h2 {font-size: 24px;
    font-weight: bold;}

p {font-size: 18px;
    line-height: 1.6;}

header {background-color: #ff7e5f;
    padding: 20px;
    text-align: center;}

header h1 {color: white;
    font-size: 36px;}
