:root {
    --cor-principal: #ff7e5f;
    --cor-secundaria: #feb47b;
    --cor-destaque: #007BFF;
    --cor-texto: #333;
    --cor-fundo: #f9f9f9;
    --fonte-principal: 'Afacad Flux', sans-serif;
    --fonte-secundaria: Arial, sans-serif;
    --tamanho-base: 18px;
    --tamanho-titulo: 28px;
    --peso-fonte-titulo: bold;
    --peso-fonte-texto: normal;
}

body {font-family: var(--fonte-principal);
    font-size: var(--tamanho-base);
    background: linear-gradient(to right, var(--cor-principal), var(--cor-secundaria));
    margin: 0;
    padding: 0;
    overflow-x: hidden;}

header {background-color: var(--cor-principal);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;}

header h1 {color: white;
    font-size: 24px;}

nav ul {list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;}

nav ul li {margin-bottom: 10px;
    display: block;}

nav ul li a {text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;}

nav ul li a:hover {color: var(--cor-destaque);
    background-color: #f2f2f2;
    border-color: var(--cor-destaque);}

#botao-menu {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    display: block;}

#botao-menu::before {
    content: '\2630';}

#botao-fechar {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    display: none;}

#botao-fechar::before {content: '\2716';}

#menu-toggle {
    display: none;}

#menu-toggle:checked + #menu {
    display: block;}

#menu-toggle:checked + #menu + #botao-menu {
    display: none;}

#menu-toggle:checked + #menu + #botao-menu + #botao-fechar {
    display: block;}


@media print {nav, #menu, #botao-menu, #botao-fechar {
        display: none;}}

@media (max-width: 767px) {
body {font-size: 16px;}

    header h1 {font-size: 20px;}

    nav ul {display: flex;
        flex-direction: column;
        align-items: center;}

    nav ul li {margin-bottom: 10px;
        display: block;}

    nav ul li a {font-size: 14px;
        padding: 10px;
        width: 100%;
        text-align: center;}

    .centralizado {width: 90%;
        padding: 10px;}

    .login-container {
        padding: 15px;
        margin-top: 10px;}

    form button {padding: 12px 25px;
        font-size: 16px;}

    table th,
    table td {padding: 8px;}

    table a {font-size: 14px;}

    article {padding: 15px;}

    h1 {font-size: 24px;}

    h2 {font-size: 20px;}

    p {font-size: 16px;}

    .img-fluid,
    .img-fluid-second {
        max-width: 100%;
        height: auto;}

    .botao-intuitivo {
        padding: 12px 25px;
        font-size: 16px;
        width: 100%;
        text-align: center;}

    footer {font-size: 12px;
        padding: 8px 0;}

    #menu {display: none;}

    #botao-menu {
        display: block;}

    #botao-fechar {
        display: block;}

    #menu-toggle {display: block;}

    #menu-toggle:checked + #menu {display: block;}
}

@media (min-width: 1024px) {
    body {font-size: 22px;}

    header h1 {font-size: 36px;}

    nav ul li {margin-right: 20px;}

    .centralizado {width: 60%;}

    .colecao-objetos {grid-template-columns: repeat(3, 1fr);}}
